<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <title>ROBOT WORLD!</title>
</head>
<body>
  <div class="nav navbar-inverse">
    <div class="container-fluid">
      <a href="/" class="navbar-brand">Robot World</a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/information">Information</a></li>
        <li><a href="/robots">All Robots</a></li>
        <li><a href="/robots/new">New Robot</a></li>
      </div>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
