<form action="/robots/new" method="post">
  <p>Name:<input type="text" name="robot[name]" /></p>
  <p>City:<input type="text" name="robot[city]" /></p>
  <p>State:<input type="text" name="robot[state]" /></p>
  <p>Department:<input type="text" name="robot[department]" /></p>
  <p>Date Manufactured:<input type="date" name="robot[manufacture_date]" /></p>
  <p>Date Hired:<input type="date" name="robot[hire_date]" /></p>
  <p>Link to Avatar:<input type="text" name="robot[avatar]" /></p>
  <input type="submit"/>
</form>
